{% extends 'base404.twig' %}

{% block content %}

    <div class="py-24 flex justify-center">
        <img class="" src="{{ site.theme.link }}/images/DUg1.gif" alt="" srcset="">
    </div>


{% endblock content %}