{% extends 'base.twig' %}

{% block content %}
<ul>
    {% for team in posts %}
        <li><img src="{{ conference.thumbnail.src }}" alt="">{{ team.title }}</li>
    {% endfor %}
</ul>
{% endblock content %}