{% extends 'base404.twig' %}

{% block content %}

<div class="grid grid-cols-3 gap-4">
{% for team in teams %}
<div class="rounded-lg shadow-xl text-center group hover:bg-blue-400">
    <img src="{{ team.thumbnail.src}}" alt="" srcset="">
    <p class="font-bold pb-4 group-hover:text-white">{{ team.post_title }}</p>
</div >
{% endfor %}
</div>
{% endblock content %}