{% extends "base404.twig" %}

{% block content %}
<div class="flex justify-center items-center py-12">
    <div class="flex items-center">
        <h1 class="text-6xl sm:text-7xl text-black font-extrabold">4</h1>
        <a href="{{ site.url }}"><img class="bg-contain bg-center h-32 sm:h-64" src="../images/cryingMJ.png" /></a>
        <h1 class="text-6xl sm:text-7xl text-black font-extrabold">4</h1>
    </div>
</div>
{% endblock content %}