<div class="w-full bg-white shadow flex flex-col my-4 p-6 rounded-lg">
  <p class="text-xl font-semibold pb-5">Derniers résultats</p>
  <p class="pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis est eu odio sagittis tristique. Vestibulum ut finibus leo. In hac habitasse platea dictumst.</p>
  {# <a href="#" class="w-full bg-gray-200 text-white font-bold text-sm uppercase rounded-lg hover:bg-blue-700 flex items-center justify-center px-2 py-3 mt-4">
      Hello JOJO
  </a> #}
</div>

<div class="w-full bg-white shadow flex flex-col my-4 p-6 rounded-lg">
  <p class="text-xl font-semibold pb-5">Starting Five</p>
  <p class="pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis est eu odio sagittis tristique. Vestibulum ut finibus leo. In hac habitasse platea dictumst.</p>
  <a href="#" class="w-full bg-gray-200 text-white font-bold text-sm uppercase rounded-lg hover:bg-blue-700 flex items-center justify-center px-2 py-3 mt-4">
      Insert post
  </a>
</div>

<div class="w-full bg-white shadow flex flex-col my-4 p-6 rounded-lg">
  <p class="text-xl font-semibold pb-5">Instagram</p>
  <div class="grid grid-cols-3 gap-3">
      <img class="hover:opacity-75" src="https://source.unsplash.com/collection/1346951/150x150?sig=1">
      <img class="hover:opacity-75" src="https://source.unsplash.com/collection/1346951/150x150?sig=2">
      <img class="hover:opacity-75" src="https://source.unsplash.com/collection/1346951/150x150?sig=3">
      <img class="hover:opacity-75" src="https://source.unsplash.com/collection/1346951/150x150?sig=4">
      <img class="hover:opacity-75" src="https://source.unsplash.com/collection/1346951/150x150?sig=5">
      <img class="hover:opacity-75" src="https://source.unsplash.com/collection/1346951/150x150?sig=6">
      <img class="hover:opacity-75" src="https://source.unsplash.com/collection/1346951/150x150?sig=7">
      <img class="hover:opacity-75" src="https://source.unsplash.com/collection/1346951/150x150?sig=8">
      <img class="hover:opacity-75" src="https://source.unsplash.com/collection/1346951/150x150?sig=9">
  </div>
  <a href="#" class="w-full bg-gray-200 text-white font-bold text-sm uppercase rounded-lg hover:bg-blue-700 flex items-center justify-center px-2 py-3 mt-6">
      <i class="fab fa-instagram mr-2"></i> Follow @hoops
  </a>
</div>